<h1>New Event</h1>
<hr>
<div class="col-md-6">
    <form  #newEventForm="ngForm" (ngSubmit)="saveEvent(newEventForm.value)" autocomplete="off" novalidate>
        <div class="form-group" [ngClass]="{'error': newEventForm.controls.name?.invalid && newEventForm.controls.name?.touched}">
            <label for="eventName">Event Name:</label>
            <em *ngIf="newEventForm.controls.name?.invalid && newEventForm.controls.name?.touched">Required</em>
            <input (ngModel)="newEvent.name" type="text" class="form-control" name="name" required id="name" placeholder="Name of your event..."/>
        </div>
        <div class="form-group" [ngClass]="{'error': newEventForm.controls.date?.invalid && newEventForm.controls.date?.touched}">
            <label for="eventDate">Event Date:</label>
            <em *ngIf="newEventForm.controls.date?.invalid && newEventForm.controls.date?.touched">Required</em>
            <input (ngModel)="newEvent.date" type="text" class="form-control" name="date" required id="eventDate" placeholder="format (mm/dd/yyyy)..."/>
        </div>
        <div class="form-group" [ngClass]="{'error': newEventForm.controls.time?.invalid && newEventForm.controls.time?.touched}">
            <label for="eventTime">Event Time:</label>
            <em *ngIf="newEventForm.controls.time?.invalid && newEventForm.controls.time?.touched">Required</em>
            <input (ngModel)="newEvent.time" type="text" class="form-control" name="time" required id="eventTime" placeholder="start and end time..."/>
        </div>
        <div class="form-group" [ngClass]="{'error': newEventForm.controls.price?.invalid && newEventForm.controls.price?.touched}">
            <label for="eventPrice">Event Price:</label>
            <em *ngIf="newEventForm.controls.price?.invalid && newEventForm.controls.price?.touched" >Required</em>
            <input (ngModel)="newEvent.price" type="number" class="form-control" name="price"  required id="eventPrice" placeholder="event price..."/>
        </div>

        <div ngModelGroup="location" #locationGroup="ngModelGroup" validateLocation>
            <div class="form-group">
                <label for="address">Event Location:</label>
                <em *ngIf="locationGroup?.invalid && locationGroup?.touched">You must enter either the full location OR an online Url</em>
                <input (ngModel)="newEvent.address" type="text" class="form-control" name="address" id="address" placeholder="Address of event..."/>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input (ngModel)="newEvent.city" type="text" class="form-control" name="city" id="city" placeholder="City..."/>
                </div>
                <div class="col-md-6">
                    <input (ngModel)="newEvent.country" type="text" class="form-control" name="country" id="country" placeholder="Country..."/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="onlineUrl">Online Url:</label>
            <input (ngModel)="newEvent.onlineUrl" type="text"  class="form-control" name="onlineUrl" id="onlineUrl" (change)="locationGroup.control.controls.address.updateValueAndValidity()" placeholder="Online Url..."/>
        </div>
        <div class="form-group" [ngClass]="{'error': newEventForm.controls.imageUrl?.invalid && newEventForm.controls.imageUrl?.touched}">
            <label for="imageUrl">Image:</label>
            <em *ngIf="newEventForm.controls.imageUrl?.invalid && newEventForm.controls.imageUrl?.touched && newEventForm.controls.imageUrl?.errors.required" >Required</em>
            <em *ngIf="newEventForm.controls.imageUrl?.invalid && newEventForm.controls.imageUrl?.touched && newEventForm.controls.imageUrl?.errors.pattern">Must be a png or jpg url</em>   
            <input (ngModel)="newEvent.imageUrl" type="text" name="imageUrl" required pattern=".*\/.*.(png|jpg)" id="imageUrl" class="form-control" placeholder="Url of image..."/>
            <img [src]="newEventForm.controls.imageUrl.value" *ngIf="newEventForm.controls.imageUrl?.valid"/>
        </div>

        <button [disabled]="newEventForm.invalid" type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" (click)="cancel()" >Cancel</button>

    </form>
</div>