<h1>Login</h1>
<hr>
<div class="col-md-4">
    <form  #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off" novalidate>
        <div class="form-group">
            <label for="userName">User Name:</label>
            <em *ngIf="loginForm.controls.userName?.invalid && (loginForm.controls.userName?.touched || mouseoverLogin)">Required</em>
            <input (ngModel)="userName" name="userName" required id="userName" type="text" class="form-control" placeholder="User Name ..." />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <em *ngIf="loginForm.controls.password?.invalid && (loginForm.controls.password?.touched || mouseoverLogin)">Required</em>
            <input (ngModel)="password" name="password" required id="password" type="password" class="form-control" placeholder="Password ..." />
        </div>
        <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
        </span>
        <button (click)="cancel()" type="button" class="btn btn-default">Cancel</button>
    </form>
</div>