<div>
    <h1>Edit your profile</h1>
    <hr>
    <div class="col-md-4">
        <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" autocomplete="off" novalidate>
            <div class="form-group" [ngClass]="{'error': !validateFirstName()}">
                <label for="firstName">First Name:</label>
                <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.required">Required</em>
                <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.pattern">Must start with a letter</em>
                <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="First Name...">
            </div>
            <div class="form-group" [ngClass]="{'error': !validateLastName()}">
                <label for="lastName">Last Name:</label>
                <em *ngIf="!validateLastName()">Required</em>
                <input formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name...">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-default" (click)="cancel()" type="button">Cancel</button>
        </form>
        
    </div>
</div>